.DS_Store
.python-version
__pycache__/

.env
.venv/
.vscode
.devcontainer
.mypy_cache

stdout_*

release_bundles

app/datasets/raw
app/datasets/processed 
app/datasets/featured
app/datasets/scalers
app/deployment/models
results

