.DS_Store
.python-version
__pycache__/

.env
.venv/
release_bundles/*
requirements.txt

app/datasets/raw/*
app/datasets/processed/* 
app/datasets/featured/*
app/datasets/scalers/*

results/exploration/y2022-2023
results/ml/*

app/deployment/models/*

stdout_*