.DS_Store
.python-version
__pycache__/

.env
.venv/
release_bundles

app/datasets/raw
app/datasets/processed 
app/datasets/featured
app/datasets/scalers

results

app/deployment/models

stdout_*
.vscode
.devcontainer